.element__like {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    border: none;
}

.element__like:hover {
    cursor: pointer;
    opacity: .5;
}